<main>
    <div class="inicio">
        <div class="loader ">
        </div>
        <form class="businessSelection inv">
            <label for="business">Seleccione la empresa:</label>
            <select id="business" name="business">
                <option value="sate">SATELITAL TELECOMUNICACIONES</option>
                <option value="gf">GLOBAL FIBER PERU</option>
                <option value="oye">INVERSIONES O & E</option>
                <option value="cyg">OPERACIONES C & G</option>
                <option value="syr">INVERSIONES Y OPERACIONES S & R</option>
                <option value="myr">OPERACIONES M & R</option>
                <option value="foa">FIBRA ÓPTICA AMAZONICA DEL PERU</option>
                <option value="contelco">CONTRATISTAS Y CONSULTORES TELCO</option>
            </select>
            <button id="setBusiness">Ingresar</button>
        </form>
    </div>
    <div class="actions">
        <div class="logo">
            <h1>VALIDADOR</h1>
        </div>
        <div class="loadOptions">
            <input style="display: none;" type="file" id="excelFileInput" />
            <div class="buttonFile">
                <span class="material-symbols-outlined">
                    ads_click
                </span>
                <div class="filename">
                    Cargar Archivo...
                </div>
            </div>
            <span id="checkFile" class="material-symbols-outlined inv">
                cloud_upload
            </span>
        </div>
        <div class="totalRegisters">
            Registros Totales: <span id="total"
                title="Indica la cantidad de filas ocupadas en el archivo Excel, si hay filas vacías contarán, pero no aparecerán.">0</span>
        </div>
        <div class="progressBar">
            <div class="allBar">
                <div class="progressInfo">
                    <span id="current"></span>
                    <span id="separator"></span>
                    <span id="totalSelected"></span>
                </div>
                <div class="currentPos">
                </div>
            </div>
        </div>
        <div class="buttons">
            <span class="material-symbols-outlined unselectable" id="new" title="Nueva Evaluación">
                refresh
            </span>
            <span class="material-symbols-outlined unselectable" id="startScan" title="Iniciar Evaluación">
                play_arrow
            </span>
            <span class="material-symbols-outlined unselectable disabled" id="downloadFile" title="Descargar Reporte">
                download
            </span>
        </div>
    </div>
    <div class="content">
        <div class="tableHeader">
            <div class="registro">
                <div></div>
                <div>
                    <label for="regCheckbox" id="labelAllRegCheckbox">

                    </label>
                </div>
                <div>Fecha</div>
                <div>Código</div>
                <div>Serie</div>
                <div>Número</div>
                <div>RUC</div>
                <div>Total</div>
                <div>Estado Comprobante</div>
                <div>Estado RUC</div>
                <div>Estado de Domicilio</div>
                <div>Resultado</div>
                <div>Observaciones</div>
            </div>
        </div>
        <div class="tableBody">

        </div>
    </div>
</main>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="./js/loadShowXLS.js"></script>
<script src="./js/script.js"></script>
<script type="module" src="./js/arrayValidate.js"></script>