*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
  height: 100vh;
}

.inv {
  display: none !important;
}

.unselectable {
  user-select: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #04AA6D;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

main .inicio label {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

main .inicio select {
  background-color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: .8rem 1.2rem;
  outline: none;
  color: #04AA6D;
}

main .inicio button {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  background-color: white;
  color: #04AA6D;
  font-weight: 600;
  border: 1px solid white;
  cursor: pointer;
}

main .actions {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .actions .logo {
  width: 14%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .actions .loadOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #04AA6D;
  border-radius: 1rem;
  width: 20%;
  height: 2rem;
  overflow: hidden;
}

main .actions .loadOptions .buttonFile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 84%;
  cursor: pointer;
  color: #04AA6D;
  font-weight: 600;
  font-size: 1rem;
}

main .actions .loadOptions>span {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

main .actions .totalRegisters {
  padding: 0 0.5rem;
  background-color: #04AA6D;
  color: white;
  font-weight: 600;
  width: 12%;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .actions .progressBar {
  width: 30%;
  height: 2rem;
}

main .actions .progressBar .allBar {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

main .actions .progressBar .allBar .progressInfo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .actions .progressBar .allBar .progressInfo span {
  color: #026e46;
  font-weight: 600;
  font-size: 1.2rem;
}

main .actions .progressBar .allBar .currentPos {
  width: 100%;
  height: 100%;
  background: #04AA6D;
  border-radius: 1rem;
}

main .actions .buttons {
  width: 10%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .actions .buttons span {
  background-color: #04AA6D;
  color: white;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}

main .actions .modals {
  position: absolute;
  right: 2.4%;
  top: .3rem;
  width: 13.2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: blue;
}

main .actions .modals .settingsModal {
  background-color: #04AA6D;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}

main .actions .modals .settingsModal label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  color: white;
  font-weight: 700;
}

main .actions .modals .settingsModal>input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60%;
  outline: none;
  text-align: center;
}

main .actions .modals .settingsModal>span {
  color: #fff;
  cursor: pointer;
}

main .actions .buttons .disabled {
  background-color: rgba(0, 0, 0, 0.5333333333);
  cursor: auto;
}

main .content {
  background-color: white;
  max-width: 100%;
  max-height: 100vh;
}

main .content .tableHeader {
  background-color: #04AA6D;
  height: 4vh;
  width: 98.9%;
}

main .content .tableHeader .registro {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-align: center;
  height: 100%;
}

main .content .tableHeader .registro div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .tableHeader .registro div label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .tableHeader .registro div label input {
  width: 1.2rem;
  height: 1.2rem;
}

main .content .tableBody {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
}

main .content .tableBody .registro {
  display: flex;
  font-size: 1rem;
  text-align: center;
}

main .content .tableBody .registro div {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

main .content .tableBody .registro div label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .tableBody .registro div label input {
  width: 1.2rem;
  height: 1.2rem;
}

main .content .registro div {
  padding: 4px 8px;
}

main .content .registro> :nth-child(1) {
  width: 3%;
  background-color: #04AA6D;
  color: white;
  font-weight: 900;
  padding: 0 !important;
}

main .content .registro> :nth-child(2) {
  width: 2%;
  background-color: transparent;

}

main .content .registro> :nth-child(3) {
  width: 5%;
}

main .content .registro> :nth-child(4) {
  width: 4%;
}

main .content .registro> :nth-child(5) {
  width: 4%;
}

main .content .registro> :nth-child(6) {
  width: 4%;
}

main .content .registro> :nth-child(7) {
  width: 6%;
}

main .content .registro> :nth-child(8) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 18%;
}

main .content .registro> :nth-child(9) {
  width: 5%;
}

main .content .registro> :nth-child(10) {
  width: 6%;
}

main .content .registro> :nth-child(11) {
  width: 5%;
}

main .content .registro> :nth-child(12) {
  width: 5%;
}

main .content .registro> :nth-child(13) {
  width: 8%;
}

main .content .registro> :nth-child(14) {
  width: 6%;
}

main .content .registro> :nth-child(15) {
  width: 6%;
}

main .content .registro> :nth-child(16) {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .registro> :nth-child(16) p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}