*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
  height: 100vh;
}


@media screen and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}

.inv {
  display: none !important;
}

.unselectable {
  user-select: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #04AA6D;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .inicio .loader {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1.6rem solid #fff;
  border-right-color: #04AA6D;
  animation: l2 1s infinite linear;
}

main .inicio .businessSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

main .inicio label {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

main .inicio select {
  background-color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: .8rem 1.2rem;
  outline: none;
  color: #04AA6D;
}

main .inicio button {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  background-color: white;
  color: #04AA6D;
  font-weight: 600;
  border: 1px solid white;
  cursor: pointer;
}

main .actions {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .actions .logo {
  width: 20%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main .actions .logo #changeBusiness {
  background-color: #04AA6D;
  color: #fff;
  padding: 0 1rem;
  border-radius: 1rem;
  height: 2rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .actions .logo h1 {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  color: #04AA6D;
}

main .actions .loadOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #04AA6D;
  border-radius: 1rem;
  width: 22%;
  height: 2rem;
  overflow: hidden;
}

main .actions .loadOptions .buttonFile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
  color: #04AA6D;
  font-weight: 600;
  font-size: 1rem;
}

main .actions .loadOptions .buttonFile span {
  font-size: 1.6rem;

}

main .actions .loadOptions>span {
  /* width: 16%; */
  padding: 0 1rem;
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

main .actions .totalRegisters {
  padding: 0 0.5rem;
  background-color: #04AA6D;
  color: white;
  font-weight: 600;
  width: 12%;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .actions .progressBar {
  width: 25%;
  height: 2rem;
}

main .actions .progressBar .allBar {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

main .actions .progressBar .allBar .progressInfo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .actions .progressBar .allBar .progressInfo span {
  color: #026e46;
  font-weight: 600;
  font-size: 1.2rem;
}

main .actions .progressBar .allBar .currentPos {
  width: 100%;
  height: 100%;
  background: #04AA6D;
  border-radius: 1rem;
}

main .actions .buttons {
  width: 8%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .actions .buttons span {
  background-color: #04AA6D;
  color: white;
  padding: 0 1rem;
  border-radius: 1rem;
  height: 2rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .actions .buttons .disabled {
  background-color: rgba(0, 0, 0, 0.5333333333);
  cursor: auto;
}

main .content {
  background-color: white;
  max-width: 100%;
  height: calc(100vh - 5rem);
  max-height: 100vh;
}

main .content .tableHeader {
  background-color: #04AA6D;
  height: 4vh;
  width: 98.9%;
}

main .content .tableHeader .registro {
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  text-align: center;
  height: 100%;
}

main .content .tableHeader .registro div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .tableHeader .registro div label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .tableHeader .registro div label input {
  width: 1.2rem;
  height: 1.2rem;
}

main .content .tableBody {
  position: relative;
  height: calc(100% - 4vh);
  overflow-y: scroll;
}

main .content .tableBody .registro {
  display: flex;
  font-size: 1rem;
  text-align: center;
}

main .content .tableBody .registro:nth-child(even) {
  background-color: #0001;
}

main .content .tableBody .registro:nth-child(odd) {
  background-color: #0000;
}

main .content .tableBody .registro div {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

main .content .tableBody .registro div label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .tableBody .registro div label input {
  width: 1.2rem;
  height: 1.2rem;
}

main .content .registro div {
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .registro> :nth-child(1) {
  width: 3%;
  background-color: #04AA6D;
  color: white;
  font-weight: 900;
  padding: 0 !important;
}

main .content .registro> :nth-child(2) {
  width: 2%;
  background-color: transparent;

}

main .content .registro> :nth-child(3) {
  width: 6%;
}

main .content .registro> :nth-child(4) {
  width: 4%;
}

main .content .registro> :nth-child(5) {
  width: 4%;
}

main .content .registro> :nth-child(6) {
  width: 5%;
}

main .content .registro> :nth-child(7) {
  width: 8%;
}

main .content .registro> :nth-child(8) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 6%;
}

main .content .registro> :nth-child(9) {
  width: 10%;
}

main .content .registro> :nth-child(10) {
  width: 10%;
}

main .content .registro> :nth-child(11) {
  width: 10%;
}

main .content .registro> :nth-child(12) {
  width: 10%;
}

main .content .registro> :nth-child(13) {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .registro> :nth-child(13) p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



main .content .assistant .imgContainer {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  border: .5rem dashed #04AA6D;
}

main .content .assistant img {
  width: 70%;
  height: 70%;
}

main .content .assistant .validacionIndividual .imgContainer {
  cursor: pointer;
  opacity: .6;
}

main .content .assistant .validacionIndividual .imgContainer:hover {
  opacity: 1;
}

main .content .assistant .validacionIndividual .modalVI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0005;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  align-items: center;
}

main .content .assistant .validacionIndividual .modalVI .individualValidation {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #026e46;
  border-radius: 1rem;
  width: 54rem;
}

main .content .assistant .validacionIndividual .modalVI .individualValidation .closeButton {
  position: absolute;
  top: -2.4rem;
  right: -2.4rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: #04AA6D;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  align-items: center;
  cursor: pointer;
}

main .content .assistant .validacionIndividual .modalVI .individualValidation label {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* gap: 1rem; */
}

main .content .assistant .validacionIndividual .modalVI .individualValidation label p {
  width: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

main .content .assistant .validacionIndividual .modalVI .individualValidation label input {
  width: 44%;
  outline: none;
  text-align: center;
  padding: .2rem .5rem;
  /* border-radius: .5rem; */
  /* margin-right: 2rem; */
}

main .content .assistant .validacionIndividual .modalVI .individualValidation button {
  background-color: #fff;
  color: #026e46;
  font-weight: 600;
  border: 1px solid #fff;
  padding: .2rem .6rem;
  cursor: pointer;
}

main .content .assistant .validacionIndividual .modalVI .resultIndividualValidation {
  background-color: #fff;
  width: 54rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

main .content .assistant .validacionIndividual .modalVI .resultIndividualValidation .loader {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1.6rem solid #fff;
  border-right-color: #04AA6D;
  animation: l2 1s infinite linear;
}


main .content .assistant .validacionIndividual .modalVI .resultIndividualValidation span {
  color: #026e46;
  font-weight: 600;
}

main .content .assistant .informante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 600;
  height: 10rem;
  width: 30rem;
  transition: opacity .3s;

}

main .content .assistant .informante:hover {
  opacity: .2;
}

main .content .assistant .informante .msgContainer {
  background-color: #fff;
  border: 1px solid #026e46;
  border-radius: 1rem;
  width: 60%;
  height: 60%;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding: .2rem;
  text-align: center;
}